In [1]:
x = "helooo"
y = str('1')
z = x + y

In [2]:
z

'helooo1'

In [3]:
x = 1.0 + 1.2j #use of j to specify imaginary part of a number

In [4]:
x.real

1.0

In [5]:
x.imag

1.2

In [6]:
a = 'T'
b = 'F'

a and b

'F'

In [7]:
a or b

'T'

In [8]:
a not b

SyntaxError: invalid syntax (<ipython-input-8-fda1ac746f0e>, line 1)

In [ ]:
not a

In [ ]:
a is b

In [ ]:
a is a

In [ ]:
x = 4
y = 3

if x > y:
    print ('x = {} is greater'.format(x)) # to print value of a variable
else:
    print ('y +y is greater')

In [ ]:
xl = [1,2,3,4,8,7]

In [9]:
xl.append(7)

NameError: name 'xl' is not defined

In [ ]:
xl

In [ ]:
list('abcdef')

In [ ]:

for i in xl:
    print (i)
else:
    print("no numbers left")

In [ ]:
y = sum(xl)
y

In [ ]:
x = input('enter a number')

In [ ]:
x

In [ ]:
# program to add numbers till n eg. sum = 1+2+3+.......n and take n from user


n = int(input('Enter a number'))
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i + 1
    
print (sum)

In [ ]:
date = input ('Enter a date in format dd/mm/yyyy')
dd,mm,yyyy = date.split('/')
dd = int(dd)
mm = int(mm)
yyyy = int(yyyy)
m31 = [1,3,5,7,8,10,12]
m30 = [4,6,9,11]

    
if mm == 2 and yyyy%4 != 0 and dd < 29:
    print ('Date entered is valid')
elif mm == 2 and yyyy%4 == 0 and dd < 30:
    print ('Date entered is valid')
elif  dd > 0 and dd < 32 and mm in m31 and mm != 2:
    print ('Date entered is valid')   
elif  dd > 0 and dd < 31 and mm in m30 and mm != 2:
    print ('Date entered is valid')
else:
    print('Date entered is invalid')

In [13]:
#Write a program which will find all such numbers which are divisible by 7 but are not a
#multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed
#in a comma-separated sequence on a single line.


list = []
for i in range(2000,3201):
    if i%7 == 0 and i%5 !=0:
        list.append(i)
print(list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [22]:
#Write a Python program to accept the user's first and last name and then getting them
#printed in the the reverse order with a space between first name and last name.


name = input('Enter your name in format First Name Last Name ')
fn,ln = name.split(' ')
print ('Your name is {} {}'.format(ln,fn))
a = fn[::-1]
b = ln[::-1]
print ('Reverse of your name is {} {}'.format(a,b))

Enter your name in format First Name Last Name Shriya Khandelwal
Your name is Khandelwal Shriya
Reverse of your name is ayirhS lawlednahK

In [12]:
#Write a Python program to find the volume of a sphere with diameter 12 cm.
#Formula: V=4/3 * Ï€ * r 3


import math
d = input ('Enter Diameter ')
r = int(d)/2
Vol = (4/3) * math.pi * (r**3)
print('Volume is {}'.format(Vol))

Enter Diameter 12
Volume is 904.7786842338603

In [15]:
print ('Hello"hi"')

Hello"hi"